.nav {
  &--container {
    display: inline-flex;
    gap: 0.75rem;
    align-items: center;

    a {
      all: unset;
      cursor: pointer;
      opacity: 0.8;
      transition: opacity 0.2s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }
  }

  &-item {
    padding: 0.25rem 0.5rem;
    border-radius: 6px;
    transition: background 0.2s ease;

    &--active {
      font-weight: 600 !important;
      opacity: 1;
      pointer-events: none; // disables click
      background-color: rgba(0, 0, 0, 0.05); // optional highlight
    }
  }
}
