@import "container.scss";
$backgroud-primary: #ececec;
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  min-height: 100svh;
  background: $backgroud-primary;
}
